img/(gitignore)_bq-01-raw-dataset-2-features.png
img/(gitignore) bq-02-ml-evaluation.png
img/(gitignore) bq-03-ml-batch-prediction.png
img/(gitignore) bq-01-raw-dataset-2-features.png
img/(gitignore) gcs-02-cloud-shell-save-bq-model.png
